<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title {{ include.name }}" rel="author" href="/">Aatif Jiwani</a>
        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link {{ include.projects }}" href="/projects/">Projects</a>
                <a class="page-link {{ include.research }}" href="/research/">Research</a>
                <a class="page-link {{ include.contact }}" href="/contact/">Contact</a>
            </div>
        </nav>
    </div>  
</header>